body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

@media (min-width: 992px) {
    body {
        flex-direction: row;
    }

    #sidebar {
        position: sticky;
        top: 0;
        height: 100vh;
        overflow-y: auto;
    }
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #212529;
    color: white;
    transition: all 0.3s;
}

#content {
    flex: 1;
    padding: 20px;
}

.nav-link {
    color: rgba(255, 255, 255, .75);
    cursor: pointer;
}

.nav-link.active {
    color: white;
    background: #0d6efd;
}

.nav-link:hover {
    color: white;
}